<nav>
  <ul>
    <li data-section="1">DOM 단일 객체 탐색</li>
    <li data-section="2">DOM 다중 객체 탐색</li>
    <li data-section="3">DOM 트리 탐색 1</li>
    <li data-section="4">DOM 트리 탐색 2</li>
    <li data-section="5">DOM 탐색 문제 1</li>
    <li data-section="6">DOM 탐색 문제 2</li>
    <li class="divider"></li>
    <li data-section="7">DOM 객체 속성 조작</li>
    <li data-section="8">DOM 스타일 조작</li>
    <li data-section="9">DOM 객체 생성 및 삭제 1</li>
    <li data-section="10">DOM 객체 생성 및 삭제 2</li>
    <li data-section="11">DOM 조작 문제 1</li>
    <li data-section="12">DOM 조작 문제 2</li>
    <li class="divider"></li>
    <li data-section="13">Event란?</li>
    <li data-section="14">Event 등록 및 해제 1</li>
    <li data-section="15">Event 등록 및 해제 2</li>
    <li data-section="16">Event Target</li>
    <li data-section="17">Event Prevent Default</li>
    <li data-section="18">Event 문제 1</li>
    <li data-section="19">Event 문제 2</li>
  </ul>
</nav>

<script defer>
  const nav = document.querySelector('nav')

  nav.addEventListener('click', (e) => {
    if (e.target.tagName === 'LI') {
      const targetElem = document.querySelector(`#section-${e.target.dataset.section}`)
      targetElem.scrollIntoView({ behavior: 'smooth', block: 'start' })
    }
  })
</script>
