nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
}

nav .logo {
  width: 28px;
  margin-right: 10px;
}

nav .title {
  font-size: 20px;
  font-weight: 700;
  color: rgb(103, 172, 83);
}