{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/logo.jpg' %}" />

    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}

    <title>피로그래밍 | 자바스크립트 능력 고사</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'quiz:home' %}">
        <img src="{% static 'images/logo.jpg' %}" alt="logo" class="logo" />
        <h1 class="title">JavaScript TEST</h1>
      </a>
    </nav>

    {% block main %} {% endblock %}
  </body>
</html>
